#Discord Bot Token

TOKEN=MTE3MDcxMTA0Njg0ODI1ODEwOA.GBHbWq.G0uAQY-gZWtu_Gr-OPVRyLQhaWJ-5ZbqEqLg1c

# Configure the PostgreSQL connection settings.
# Database Provider You Can Use 

# 1.https://neon.tech/
# 2.https://cockroachlabs.cloud/clusters
# 3.https://console.cloud.timescale.com/dashboard/services

# For non-SSL connections, simply remove the "?sslmode=verify-full" parameter.
# Please Remove The Database Postgresql String Use Your Own Database

POSTGRES_CONNECTION_STRING=postgresql://nigga_boyyes:Vnf6hJWqPjfA67kbfYagsg@fossil-gnu-4962.8nk.cockroachlabs.cloud:26257/defaultdb

#Custumer Role Name And ID

CUSTUMER_ROLE_NAME=Customer
CUSTUMER_ROLE_ID=1164454638800617533

#Server ID
GUILD_ID=1160579038016966780

#Publish Log Chanell
PUBLISH_LOG=1170573462427926688

#Game Pass or Shirt ID

GAMEPASS_ID=63690008
GAMEPASS_LINK=https://www.roblox.com/catalog/151786902/

#All Visit Webhook

ALL_VISIT_WEBHOOK=https://discord.com/api/webhooks/1170705295723466823/CWOxFXFsW9aeYeg4gfoMH1YSAh75kcU-B4KP8IUJ-lxS5FIYSoOWOIK7YSUwuweSeMrn
